.headerContainer {
  width: 100%;
  background: #000;
  padding: 30px 0;
}

.logo {
  height: 100px;
}

.logo img {
  width: 135px;
}

.searchArea {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media only screen and (min-width: 33.75em) {
  .logo {
    height: auto;
  }
}
